<nav class="sidebar-admin" id="sidebar" [class]="isExpanded()? '' :'active' ">
  <h1><a routerLink="dashboard" class="admin-logo mx-2">{{ isExpanded() ? appName : appShortenName }}. 
    <br>{{isExpanded() ? 'Admin' :'' }} </a></h1>
  <ul class="list-unstyled components mb-5 px-3">
    <li routerLinkActive="active" routerLink="dashboard" >
        <a class="aside-link" ><i class="fa-solid fa-home mx-2"></i>{{ isExpanded()? " Dashboard": '' }} </a>
    </li>
    <li routerLinkActive="active" routerLink="orders" >
      <a class="aside-link"  ><i class="fa-solid fa-truck mx-2"></i> {{ isExpanded()? " Orders": '' }} </a>
    </li>
    <li routerLinkActive="active" routerLink="products" >
      <a class="aside-link" ><i class="fa-brands fa-product-hunt mx-2"></i> {{ isExpanded()? " Products": '' }} </a>
    </li>
    <li routerLinkActive="active" routerLink="users" >
        <a class="aside-link" ><i class="fa-solid fa-users mx-2"></i> {{ isExpanded()? " Users": '' }} </a>
    </li>
    <li routerLinkActive="active" routerLink="landing-page" >
        <a class="aside-link" ><i class="fa-solid fa-cart-shopping mx-2"></i>{{ isExpanded()? " Landing page": '' }} </a>
    </li>
  </ul>
</nav>