<div class="product-details">
    <h1 class="product-title">{{ product.productName }}</h1>

    <div class="ratings-container">
        <div class="ratings">
            <div class="ratings-val" [style.width]="product.productRate  * 20 + '%'"></div>
            <span class="tooltip-text">{{ product.productRate }}</span>
        </div>
        <!-- <span class="ratings-text">( {{ product.review }} Reviews )</span> -->
    </div>

    <div class="product-price d-flex flex-column">
        <small class="old-price" *ngIf="product.oldPrice">EGP {{ product.oldPrice.toFixed(2) }}</small>
        <span class="out-price">EGP {{ product.productPrice.toFixed(2) }}</span>
    </div>



    <div class="product-content">
        <p>{{ product.productDescription }}</p>
    </div>

   



    <div class="details-filter-row details-row-size">
        <label for="qty">Qty:</label>
        <app-ecommerce-quantity-input [max]="1000" (changeQty)="onChangeQty(
            $event )" [value]="qty">
        </app-ecommerce-quantity-input>
    </div>

    <div class="product-details-action">
        <a href="javascript:;" class="btn-product btn-cart"
            (click)="addToCart( $event )"><span>add to cart</span></a>

    </div>

    <div class="product-details-footer">
        <div class="product-cat w-100 text-truncate">
            <span>Category:</span>
                <a [routerLink]="['/shop/sidebar/3cols']"  [queryParams]="getProductCategory()">{{ product.box == '1' ? 'Box' :
                    'Singly' }}</a>
        </div>

    </div>
    <div class="sticky-bar ">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <figure class="product-media">
                        <a [routerLink]="['/product/'+ product.productId]">
                            <app-ecommerce-image [src]="product.productImage" alt="Product"
                                class="product-image">
                            </app-ecommerce-image>
                        </a>
                    </figure>
                    <h3 class="product-title">
                        <a [routerLink]="['/product/'+ product.productId]">{{
                            product.productName }}</a>
                    </h3>
                </div>
                <div class="col-6 justify-content-end">
                    <div class="product-price">
                        <span class="out-price">EGP {{
                            product.productPrice.toFixed(2) }}</span>
                    </div>


                    <app-ecommerce-quantity-input [max]="1000"
                        (changeQty)="onChangeQty2( $event )" [value]="qty2">
                    </app-ecommerce-quantity-input>

                    <div class="product-details-action">
                        <a href="javascript:;" class="btn-product btn-cart"
                            (click)="addToCart( $event )"><span>add to cart</span></a>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>