<div class="blog-posts">
    <div class="container">
        <h2 class="title text-center" contentAnim aniName="blurIn">From Our Blog</h2>
        <owl-carousel carouselClasses="owl-simple carousel-with-shadow" [options]="sliderOption"
            *ngIf="!loaded else loadedBlock">
            <div class="skel-pro" *ngFor="let i of [1,2,3,4,5]"></div>
        </owl-carousel>
        <ng-template #loadedBlock>
            <owl-carousel carouselClasses="owl-simple carousel-with-shadow" [options]="sliderOption">
                <molla-post-four [post]="post" *ngFor="let post of posts">
                </molla-post-four>
            </owl-carousel>
        </ng-template>

        <div class="more-container text-center">
            <a routerLink="/blog/classic" class="btn btn-outline-dark banner-link btn-more"><span>View more
                    articles</span><i class="icon-long-arrow-right"></i></a>
        </div>
    </div>
</div>