.facebook-style{
    color: #fff;
    padding: 3px 11px;
    border-radius: 50%;
    background: rgb(4,110,228);
    background: linear-gradient(332deg, rgba(4,110,228,1) 0%, rgba(24,172,254,1) 100%);
}