<div class="product-details-tab">
    <ul ngbNav #nav="ngbNav" class="justify-content-center nav nav-pills">
       
        <li ngbNavItem>
            <a ngbNavLink>
                Review
            </a>
            <ng-template ngbNavContent>
                <div class="reviews d-flex flex-column justify-content-center align-items-center">
                    <h2>Rate this product </h2>

                    <span class="rating-stars selected">
                        <a [class]="'star-' + num " href="javascript:;" 
                            *ngFor="let num of [1,2,3,4,5]" (click)="rateProduct(num)">{{ num }}</a>
                    </span>
                </div>
            </ng-template>
        </li>
    </ul>
    <div [ngbNavOutlet]="nav"></div>
</div>