<main class="main0">
    <app-ecommerce-page-header title="Elements List" subtitle="Elements1"></app-ecommerce-page-header>

    <nav class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a routerLink="/">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a routerLink="/elements">Elements</a>
                </li>
            </ol>
        </div>
    </nav>
</main>