<main class="main">
    <app-ecommerce-page-header title="Checkout" subtitle="Shop"></app-ecommerce-page-header>
    <nav class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a routerLink="/">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a routerLink="/shop/sidebar/3cols">Shop</a>
                </li>
                <li class="breadcrumb-item active">Checkout</li>
            </ol>
        </div>
    </nav>

    <div class="page-content">
        <div class="checkout">
            <div class="container">
                <div class="checkout-discount">
                    <form id="checkout-discount-form">
                        <input type="text" class="form-control" required id="checkout-discount-input"
                            (click)="addOpacity($event)" [(ngModel)]="promoCode" name="promocde">
                        <label  for="checkout-discount-input" class="text-truncate">Have a coupon? <span>Click here to
                                enter your code</span></label>
                    </form>
                </div>
                <form [formGroup]="checkOutForm">
                    <div class="row">
                        <div class="col-lg-9">
                            <h2 class="checkout-title">Billing Details</h2>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label>Full Name *</label>
                                    <input  formControlName="fullName" type="text" class="form-control disabled-contol" name="firstName" >
                                </div>

                                <div class="col-sm-4">
                                    <label>Phone *</label>
                                    <input formControlName="contactPhone" type="tel" name="tel" class="form-control" >
                                    <small [style.visibility]=" !checkOutForm.get('contactPhone').valid && checkOutForm.get('contactPhone').touched ? 'visible': 'hidden'" 
                                    class="text-danger">Please enter a valid phone</small>
                                </div>
                                <div class="col-sm-4">
                                    <label>Additional Phone *</label>
                                    <input formControlName="additionalContactPhone" type="tel" name="tel" class="form-control" >
                                    <small [style.visibility]=" !checkOutForm.get('additionalContactPhone').valid && checkOutForm.get('additionalContactPhone').touched ? 'visible': 'hidden'" 
                                    class="text-danger">Please enter a valid phone</small>
                                </div>
                            
                            </div>
                            
                            <label>Street address *</label>
                            <input type="text" formControlName="deliveryLocation1" class="form-control" placeholder="House number, Street name, City">
                           
                            <small [style.visibility]=" !checkOutForm.get('deliveryLocation1').valid && checkOutForm.get('deliveryLocation1').touched ? 'visible': 'hidden'" 
                            class="text-danger">This field is required</small>
                            <br>
                            <label>Notes</label>
                            <textarea formControlName="notes" rows="6" class="form-control" placeholder="Do you have any notes?"></textarea>
                           


                        </div>
                        <aside class="col-lg-3">
                            <div class="summary">
                                <h3 class="summary-title">Your Order</h3>

                                <table class="table table-summary">
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr *ngFor="let item of cartItems">
                                            <td><a
                                                    [routerLink]="['/product/'+ item.product.productId]">{{ item.product.productName }}</a>
                                            </td>
                                            <td>EGP {{ item.price.toFixed( 2 )  }}</td>
                                        </tr>
                                        <tr class="summary-subtotal">
                                            <td>Subtotal:</td>
                                            <td>EGP {{ (subTotal).toFixed(2) }}</td>
                                        </tr>
                                        <tr class="summary-shipping">
                                            <td>Shipping:</td>
                                            <td>&nbsp;</td>
                                        </tr>

                                        <tr class="summary-shipping-row" *ngFor="let fee of deliveryFees;let i =index">
                                            <td>
                                                <div class="custom-control custom-radio">
                                                    <input type="radio" [id]="'free-shipping'+i" [name]="'shipping'+i"
                                                        class="custom-control-input" (change)="changeShipping(fee)"
                                                        [checked]="shippingCost.feeId == fee.feeId ">
                                                    <label class="custom-control-label" [for]="'free-shipping'+i">{{fee.governorate}}</label>
                                                </div>
                                            </td>
                                            <td>EGP {{(fee.fee).toFixed(2)}}</td>
                                        </tr>
                                        

                                        <tr class="summary-total">
                                            <td>Total:</td>
                                            <td>EGP {{ ((subTotal) + shippingCost.fee).toFixed(2) }}</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <app-ecommerce-accordion adClass="accordion-summary" id="accordion-payment">
                                    <!-- <div class="card">
                                        <div class="card-header" id="heading-1">
                                            <h2 class="card-title">
                                                <a class="toggle-button" role="button" data-toggle="collapse"
                                                    href="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
                                                    Direct bank transfer
                                                </a>
                                            </h2>
                                        </div>
                                        <div id="collapse-1" class="collapse show" aria-labelledby="heading-1"
                                            data-parent="#accordion-payment">
                                            <div class="card-body">
                                                Make your payment directly into our bank account. Please use your Order
                                                ID as
                                                the payment reference. Your order will not be shipped until the funds
                                                have
                                                cleared in our account.
                                            </div>
                                        </div>
                                    </div> -->

                                    <!-- <div class="card">
                                        <div class="card-header" id="heading-2">
                                            <h2 class="card-title">
                                                <a class="toggle-button collapsed" role="button" data-toggle="collapse"
                                                    href="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
                                                    Check payments
                                                </a>
                                            </h2>
                                        </div>
                                        <div id="collapse-2" class="collapse" aria-labelledby="heading-2"
                                            data-parent="#accordion-payment">
                                            <div class="card-body">
                                                Ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque
                                                volutpat mattis eros. Nullam malesuada erat ut turpis.
                                            </div>
                                        </div>
                                    </div> -->

                                    <div class="card">
                                        <div class="card-header" id="heading-3">
                                            <h2 class="card-title">
                                                 Cash on delivery
                                                <p>
                                                   
                                                </p>
                                            </h2>
                                        </div>
                                        
                                    </div>

                                    <!-- <div class="card">
                                        <div class="card-header" id="heading-4">
                                            <h2 class="card-title">
                                                <a class="toggle-button collapsed" role="button" data-toggle="collapse"
                                                    href="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
                                                    PayPal
                                                </a>
                                            </h2>
                                        </div>
                                        <div id="collapse-4" class="collapse" aria-labelledby="heading-4"
                                            data-parent="#accordion-payment">
                                            <div class="card-body">
                                                <small class="float-right paypal-link">What is PayPal?</small>
                                                Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non,
                                                semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis
                                                fermentum.
                                            </div>
                                        </div>
                                    </div> -->

                                    <!-- <div class="card">
                                        <div class="card-header" id="heading-5">
                                            <h2 class="card-title">
                                                <a class="toggle-button collapsed" role="button" data-toggle="collapse"
                                                    href="#collapse-5" aria-expanded="false" aria-controls="collapse-5">
                                                    Credit Card (Stripe)
                                                </a>
                                            </h2>
                                        </div>
                                        <div id="collapse-5" class="collapse" aria-labelledby="heading-5"
                                            data-parent="#accordion-payment">
                                            <div class="card-body">
                                                <img src="assets/images/payments-summary.png" alt="payments cards">
                                                Donec nec justo eget felis facilisis fermentum.Lorem
                                                ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque
                                                volutpat mattis eros. Lorem ipsum dolor sit ame.
                                            </div>
                                        </div>
                                    </div> -->
                                </app-ecommerce-accordion>

                                <button (click)="checkOutOrder()" type="submit" class="btn btn-primary" style="width:100%">
                                    Place Order
                                </button>
                            </div>
                        </aside>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>