<footer class="footer footer-2">
    <div class="footer-middle">
        <div [ngClass]="containerClass">
            <div class="row">
                <div class="col-sm-12 col-lg-6">
                    <div class="widget widget-about">
                        <a routerLink="/">
                            <img src="assets/images/imagine-logo.png" class="footer-logo" alt="Footer Logo" width="104"
                                height="24">
                        </a>
                        <p class="font-weight-normal">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, magni dolores. Distinctio alias 
                            quas aliquid facere, deserunt corrupti ad maiores minima debitis laborum impedit. Reprehenderit 
                            nulla modi delectus qui officia, facilisis luctus, metus. </p>
                    </div>
                </div>

                <div class="col-sm-4 col-lg-2">
                    <div class="widget">
                        <h4 class="widget-title">Information</h4>

                        <ul class="widget-list">
                            <li><a routerLink="pages/about">About Imagine</a></li>
                            <li><a routerLink="pages/contact">Contact us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-2">
                    <div class="widget">
                        <h4 class="widget-title"><span class="widget-about-title">Got Question? Call us
                            24/7</span></h4>

                        <ul class="widget-list">
                            <li><a href="tel:123456789">+0123 456 789</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div [ngClass]="containerClass">
            <p class="footer-copyright font-weight-normal">Copyright © {{ year }} Imagine Store. All Rights Reserved.</p>
            <div class="social-icons social-icons-color">
                <span class="social-label font-weight-normal">Social Media</span>
                <a href="javascript:;" class="social-icon social-facebook" title="Facebook"><i
                        class="icon-facebook-f"></i></a>
                <a href="javascript:;" class="social-icon social-instagram" title="Instagram"><i
                        class="icon-instagram"></i></a>
            </div>
        </div>
    </div>

    <div class="mb-10" *ngIf="isBottomSticky"></div>
</footer>