<div class="dropdown category-dropdown">
    <a href="javascript:;" class="dropdown-toggle" title="Categories">Categories</a>

    <div class="dropdown-menu">
        <nav class="side-nav">
            <ul class="menu-vertical sf-arrows">
                <li class="item-lead" routerLinkActive="active">
                    <a routerLink="/shop/sidebar/3cols" [queryParams]="{category: 'boxes'}">Boxes</a>
                </li>
                <li class="item-lead" routerLinkActive="active">
                    <a routerLink="/shop/sidebar/3cols" [queryParams]="{category: 'other_products'}">Other products</a>
                </li>
            </ul>
        </nav>
    </div>
</div>