<h1 class="mb-4 section-header">Dashboard</h1>
<div class="container-fluid dashboard-container">
    <div class="row stats-row">
        <div class="col-md-4 my-2 px-2">
            <div class="d-flex flex-row align-items-center state-item">
                <div class="mx-3 header-icon-container header-icon-container-1">
                    <i class="fa-solid fa-coins"></i>
                </div>
                <div class="mx-2">
                    <h3 class="state-header">Today Sales</h3>
                    <p class="state-details">EGP 500</p>
                </div>

            </div>
        </div>
        <div class="col-md-4 my-2 px-2">
            <div class="d-flex flex-row align-items-center state-item">
                <div class="mx-3 header-icon-container header-icon-container-2">
                    <i class="fa-solid fa-truck"></i>
                </div>
                <div class="mx-2">
                    <h3 class="state-header">Today Orders</h3>
                    <p class="state-details">500 orders </p>
                </div>

            </div>
        </div>
        <div class="col-md-4 my-2 px-2">
            <div class="d-flex flex-row align-items-center state-item
                position-relative">
                <div class="mx-3 header-icon-container header-icon-container-3">
                    <i class="fa-solid fa-money-bill-trend-up"></i>
                </div>
                <div class="mx-2">
                    <h3 class="state-header">Top Selling Product/s </h3>
                    <p class="state-details">PRODUCT 1</p>
                </div>
                <span class="top-selling-period"> For the last 30 days </span>
            </div>
        </div>
        <div class="col-md-4 my-2 px-2">
            <div class="d-flex flex-row align-items-center state-item">
                <div class="mx-3 header-icon-container header-icon-container-4">
                    <i class="fa-brands fa-product-hunt"></i>
                </div>
                <div class="mx-2">
                    <h3 class="state-header">Total Products</h3>
                    <span class="state-details">200 Singly / 300 Boxes </span>
                </div>

            </div>
        </div>

    </div>

    <div class="row">
        <div class="orders-row my-4 p-5" style="width: 100%;">
            <h3 class="mb-4 orders-row-header">Last orders</h3>
            <p-table responsiveLayout="stack" [value]="orders" [responsive]="true">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th>User Name </th>
                        <th>Phone</th>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Total Price</th>
                        <th>Date</th>
                        <th>Status</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-order let-columns="columns">
                    <tr>
                        <td><span class="p-column-title">User Name</span>{{order.userName}}</td>
                        <td><span class="p-column-title">Phone</span>{{order.phone}}</td>
                        <td><span class="p-column-title">Product</span>{{order.productName}}</td>
                        <td><span class="p-column-title">Quantity</span>{{order.quantity}}</td>
                        <td><span class="p-column-title">Total Price</span>{{order.totalPrice
                            | currency:'EGP '}}</td>
                        <td><span class="p-column-title">Date</span>{{order.orderDate}}</td>
                        <td class="last-cell"><span class="p-column-title">Status</span><span
                            class="order-status"
                            [ngClass]="{
                                'order-status-new':order.status == 'new',
                                'order-status-pndg': order.status == 'pending',
                                'order-status-dlvrd':order.status ==
                                'delivered',
                                'order-status-cncld':order.status == 'cancelled'
                            }">{{order.status}}</span></td>
                        
                    </tr>
                </ng-template>
            </p-table>
        </div>

    </div>
</div>