<h1 class="mb-4 section-header">Dashboard</h1>
<div class="container-fluid dashboard-container">
    <div class="row stats-row">
        <div class="col-md-4 my-2 px-2">
            <div class="d-flex flex-row align-items-center state-item">
                <div class="mx-3 header-icon-container header-icon-container-1">
                    <i class="fa-solid fa-coins"></i>
                </div>
                <div class="mx-2">
                    <h3 class="state-header">Today Sales</h3>
                    <p class="state-details">EGP {{todaySales}}</p>
                </div>

            </div>
        </div>
        <div class="col-md-4 my-2 px-2">
            <div class="d-flex flex-row align-items-center state-item">
                <div class="mx-3 header-icon-container header-icon-container-2">
                    <i class="fa-solid fa-truck"></i>
                </div>
                <div class="mx-2">
                    <h3 class="state-header">Today Orders</h3>
                    <p class="state-details">{{todayOrders.length}} orders </p>
                </div>

            </div>
        </div>
        <div class="col-md-4 my-2 px-2">
            <div class="d-flex flex-row align-items-center state-item
                position-relative">
                <div class="mx-3 header-icon-container header-icon-container-3">
                    <i class="fa-solid fa-money-bill-trend-up"></i>
                </div>
                <div class="mx-2">
                    <h3 class="state-header">Overall Sales </h3>
                    <p class="state-details">EGP {{overallSales}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 my-2 px-2">
            <div class="d-flex flex-row align-items-center state-item">
                <div class="mx-3 header-icon-container header-icon-container-4">
                    <i class="fa-brands fa-product-hunt"></i>
                </div>
                <div class="mx-2">
                    <h3 class="state-header">Total Products</h3>
                    <span class="state-details">{{productService.normalProductsLength}} Singly / {{productService.boxProductsLength}} Boxes </span>
                </div>

            </div>
        </div>

    </div>

    <div class="row">
        <div class="orders-row my-4 p-5" style="width: 100%;">
            <h3 class="mb-4 orders-row-header">Last orders</h3>
            <p-table responsiveLayout="stack" [value]="lastOrders" [responsive]="true">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th>User Name </th>
                        <th>Phone</th>
                        <th>Product</th> 
                        <th>Total Price</th>
                        <th>Date</th>
                        <th>Status</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-order let-columns="columns" let-rowIndex="rowIndex">
                    <tr>
                        <td><span class="p-column-title">User Name</span>{{order.user.fullName}}</td>
                        <td><span class="p-column-title">Phone</span>{{order.contactPhone}}</td>
                        <td><span class="p-column-title">Product</span>
                            <span class="text-capitalize" *ngFor="let product of order.products;let i =index">
                                {{product.productName}}  <span><small><strong>x</strong></small><strong>{{product.quantity}}</strong></span>
                                <span *ngIf="i <order.products.length-1">, <br> </span>
                            </span></td>
                        <td><span class="p-column-title">Total Price</span>{{order.totalPrice
                            | currency:'EGP '}}</td>
                        <td><span class="p-column-title">Date</span>{{order.creationDate | date:'shortDate'}}</td>
                        <td class="last-cell"><span class="p-column-title">Status</span><span
                            class="order-status"
                            > {{order.orderStatus}}
                            <div *ngIf="order.orderStatus !== 'delivered' " ngbDropdown class="d-inline-block">
                                <span class="pointer"  ngbDropdownToggle>
                                    
                                <i class="fa-solid fa-chevron-down"></i>
                                </span>
                                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                  <button ngbDropdownItem (click)="changeOrderstatus(order)" *ngIf="order.orderStatus == 'waiting'">Confirmed</button>
                                  <button ngbDropdownItem (click)="changeOrderstatus(order)" *ngIf="order.orderStatus == 'confirmed'">in printing</button>
                                  <button ngbDropdownItem (click)="changeOrderstatus(order)" *ngIf="order.orderStatus == 'inPrinting'">Out for delivery</button>
                                  <button ngbDropdownItem (click)="changeOrderstatus(order)" *ngIf="order.orderStatus == 'outForDelivery'">delivered</button>
                                </div>
                              </div>
                        </span></td>
                        <!-- <td >
                            <button class="btn btn-primary change-status py-2"
                            [disabled]="order.orderStatus == 'delivered' " (click)="changeOrderstatus(order,rowIndex)">
                                {{getNewStatus(order.orderStatus)}}
                            </button>
                        </td> -->
                    </tr>
                </ng-template>
            </p-table>
        </div>

    </div>
</div>