<div class="mobile-menu-container mobile-menu-light">
    <div class="mobile-menu-wrapper">
        <span class="mobile-menu-close" (click)="hideMobileMenu()"><i class="icon-close"></i></span>

        <form action="#" method="get" class="mobile-search" (submit)="submitSearchForm($event)">
            <label for="mobile-search" class="sr-only">Search</label>
            <input type="search" class="form-control" name="mobile-search" id="mobile-search" placeholder="Search in..."
                required>
            <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
        </form>

        <ul ngbNav #nav="ngbNav" class="nav nav-pills-mobile nav-border-anim">
            <li ngbNavItem>
                <a ngbNavLink>
                    Categories
                </a>
                <ng-template ngbNavContent>
                    <nav class="mobile-cats-nav">
                        <ul class="mobile-cats-menu">
                            <li class="item-cats-lead"><a routerLink="/shop/sidebar/3cols"
                                    [queryParams]="{category: 'electronics'}">Electronics</a></li>
                            <li class="item-cats-lead"><a routerLink="/shop/sidebar/3cols"
                                    [queryParams]="{category: 'gift-idea'}">Gift
                                    Ideas</a></li>
                            <li><a routerLink="/shop/sidebar/3cols" [queryParams]="{category: 'beds'}">Beds</a></li>
                            <li><a routerLink="/shop/sidebar/3cols" [queryParams]="{category: 'lighting'}">Lighting</a>
                            </li>
                            <li><a routerLink="/shop/sidebar/3cols"
                                    [queryParams]="{category: 'sofas-and-sleeper-sofas'}">Sofas & Sleeper
                                    sofas</a></li>
                            <li><a routerLink="/shop/sidebar/3cols" [queryParams]="{category: 'storage'}">Storage</a>
                            </li>
                            <li><a routerLink="/shop/sidebar/3cols"
                                    [queryParams]="{category: 'armchairs-and-chaises'}">Armchairs &
                                    Chaises</a></li>
                            <li><a routerLink="/shop/sidebar/3cols" [queryParams]="{category: 'decoration'}">Decoration
                                </a></li>
                            <li><a routerLink="/shop/sidebar/3cols"
                                    [queryParams]="{category: 'kitchen-cabinets'}">Kitchen Cabinets</a></li>
                            <li><a routerLink="/shop/sidebar/3cols"
                                    [queryParams]="{category: 'coffee-and-tables'}">Coffee & Tables</a></li>
                            <li><a routerLink="/shop/sidebar/3cols" [queryParams]="{category: 'furniture'}">Outdoor
                                    Furniture </a></li>
                        </ul>
                    </nav>
                </ng-template>
            </li>
        </ul>
        <div [ngbNavOutlet]="nav"></div>

        <div class="social-icons">
            <a href="javascript:;" class="social-icon" title="Facebook"><i class="icon-facebook-f"></i></a>
            <a href="javascript:;" class="social-icon" title="Instagram"><i class="icon-instagram"></i></a>
        </div>
    </div>
</div>