<div [class]="'product-gallery ' + adClass">
    <div class="row m-0">
        <figure class="product-main-image">
        
            <app-ecommerce-image class="d-block position-relative"
                [src]="product.productImages[currentIndex].image"></app-ecommerce-image>

            <a href="javascript:;" class="btn-product-gallery" (click)="openLightBox()">
                <i class="icon-arrows"></i>
            </a>
        </figure>

        <div id="product-zoom-gallery" class="product-image-gallery">
            <a [ngClass]="'product-gallery-item' + ( i === currentIndex ? ' active' : '' )" href="#"
                (click)="changeImage( $event, i )" *ngFor="let item of product.productImages; let i = index;">
                <app-ecommerce-image [src]="item.image" alt="Product side" class="product-image">
                </app-ecommerce-image>
            </a>
        </div>
    </div>
</div>