<div class="sidebar-shop" [ngClass]="toggle ? 'sidebar-filter' : 'sidebar'">
    <div [class.sidebar-filter-wrapper]="toggle">
        <div class="widget widget-clean">
            <label>Filters:</label>
            <a routerLink="/shop/sidebar/3cols" class="sidebar-filter-clear" (click)="cleanAll()">Clean All</a>
        </div>

        <div class="widget widget-collapsible">
            <h3 class="widget-title mb-2">
                <a data-toggle="collapse" href="#widget-1" role="button" aria-expanded="true" aria-controls="widget-1">
                    Category
                </a>
            </h3>

            <div class="collapse show" id="widget-1">
                <div class="widget-body pt-0">
                    <div class="filter-items filter-items-count">
                        <div class="filter-item" *ngFor="let item of shopData.categories">
                            <a routerLink="/shop/sidebar/3cols" [queryParams]="{category: item.slug}" routerLinkActive="active">{{
                                item.name }}</a>
                            <span class="item-count">{{ item.count }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="widget widget-collapsible">
            <h3 class="widget-title mb-2">
                <a data-toggle="collapse" href="#widget-3" role="button" aria-expanded="true" aria-controls="widget-3">
                    Colour
                </a>
            </h3>

            <div class="collapse show" id="widget-3">
                <div class="widget-body pt-0">
                    <div class="filter-colors">
                        <a class="pointer" (click)="filterColor(item)"
                            [style.background-color]="item.color"
                            [class.selected]="containsAttrInUrl('color', item.color_name)"
                            *ngFor="let item of shopData.colors">
                            <span class="sr-only">Color Name</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <div class="widget widget-collapsible">
            <h3 class="widget-title mb-2">
                <a data-toggle="collapse" href="#widget-5" role="button" aria-expanded="true" aria-controls="widget-5">
                    Price
                </a>
            </h3>

            <div class="collapse show" id="widget-5">
                <div class="widget-body pt-0">
                    <div class="filter-price">
                        <div class="filter-price-text d-flex justify-content-between">
                            <span>
                                Price Range:&nbsp;
                                <span class="filter-price-range">EGP {{ priceRange[0] * 10 }} -
                                     EGP {{ priceRange[1] * 10 }}</span>
                            </span>

                            <button class="pr-2" (click)="filterPrice()">Filter</button>
                        </div>

                        <div class="price-slider">
                            <nouislider #priceSlider [connect]="[true, true, true]" [ngModel]="priceRange" [min]="0"
                                [max]="100" [step]="5" [pageSteps]="1" (change)="changeFilterPrice($event)"
                                style="padding: 0 1.5rem;">
                            </nouislider>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>