<div class="d-flex flex-column flex-md-row justify-content-between mb-4">
    <h1 class="section-header">PromCodes</h1>
    <button class="btn btn-primary new-product-btn" 
    (click)="openPromocodeModal()">New Promcode</button>
</div>
<div class="container-fluid dashboard-container">
    <div class="row products-row">
        <p-table [value]="promocodes" responsiveLayout="stack" [responsive]="true" [paginator]="true" [rows]="10" [totalRecords]="promocodes.length">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th>Promocode</th>
                    <th>Discount ratio</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Status</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-promocode let-columns="columns">
                <tr>
                    <td><span class="p-column-title">Promocode</span>{{promocode.promoCode}}</td>
                    <td><span class="p-column-title">Discount ratio</span>{{promocode.discountRatio}}</td>
                    <td><span class="p-column-title">Start date</span>{{promocode.startDate | date:'dd-MM-YYYY' }}</td>
                    <td><span class="p-column-title">Due date</span>{{promocode.dueDate | date:'dd-MM-YYYY'}}</td>
                    <td class="last-cell"><span class="p-column-title">Status</span>{{statusReturn(promocode.dueDate)}}</td>
                    

                 </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="p-d-flex p-ai-center p-jc-between">
                    In total there are {{promocodes ? promocodes.length : 0 }} promocodes.
                </div>
            </ng-template>
        </p-table>

    </div>

    
</div>

<p-dialog [blockScroll]="true" #createPromoForm header="New promocode" [(visible)]="isModalVisible" [breakpoints]="{'960px': '75vw'}" [style]="{width: '50vw'}" [draggable]="false"
[maximizable]="true" [closeOnEscape]="true" [dismissableMask]="true" [modal]="true"
> 
    <form [formGroup]="newPromocodeForm" >
        <div class="row">
            <div class="form-group col-md-6">
                <label for="newPromoName">Promocode*</label>
                <input id="newPromoName" type="text" formControlName="promoCode" class="form-control">
            </div>
            <div class="form-group col-md-6 d-flex flex-column">
                <label for="newDiscountName">Discount ratio*</label>
                <p-inputNumber id="newDiscountName" formControlName="discountRatio" [showButtons]="true" buttonLayout="horizontal" inputId="horizontal" spinnerMode="horizontal" [step]="0.25"
                decrementButtonClass="p-button-danger" incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus"
                [min]="0" [max]="100" mode="decimal" >
                </p-inputNumber>
            </div>
            <div class="form-group col-md-12 d-flex flex-column">
                <label for="newRange">Range*</label>
                <p-calendar id="newRange" (onSelect)="selectDates()"  [appendTo]="createPromoForm" 
                formControlName="dateRange" selectionMode="range" [readonlyInput]="true" inputId="range"></p-calendar>

            </div>
            
            
        </div>
    </form>
    <ng-template pTemplate="footer">
        <div class="d-flex flex-row justify-content-center">
            
            <button class="btn btn-primary" (click)="addNewPromoCode()">Add</button>
        </div>
    </ng-template>
</p-dialog>

