<header class="header header-intro-clearance header-1">
    <div class="header-top">
        <div [class]="containerClass">
            <div class="header-left overflow-hidden mr-3 mr-sm-0">
                <div class="welcome-msg d-flex flex-nowrap">
                    <p>Welcome to Imagine for kids and printing.</p>
                    <a href="javascript:;" routerLink="/shop/sidebar/3cols">&nbsp;Shop Now ...</a>
                </div>
            </div>

            <div class="header-right">

                <ul class="top-menu">
                    <li>
                        <a href="javascript:;">Links</a>
                        <ul>
                            <li>
                                <div class="header-dropdown">
                                    <a href="javascript:;">English</a>
                                    <div class="header-menu">
                                        <ul>
                                            <li><a href="javascript:;">English</a></li>
                                            <li><a href="javascript:;">Arabic</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li *ngIf="!isLoggedIn" class="login"><a href="javascript:;" (click)="showLoginModal($event)">Sign in / Sign
                                    up</a></li>
                            <li *ngIf="isLoggedIn" class="login"><a href="javascript:;" (click)="logOut()">Log out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="header-middle">
        <div [class]="containerClass">
            <div class="header-left">
                <app-ecommerce-mobile-button></app-ecommerce-mobile-button>

                <a routerLink="/" class="logo">
                    <img src="assets/images/imagine-logo.png" alt="Imagine Logo" width="104" height="27">
                </a>
            </div>

            <div class="header-center">
                <app-ecommerce-header-search style="width: 100%;"></app-ecommerce-header-search>
            </div>

            <div class="header-right">
                <div class="account">
                    <a routerLink="/shop/orders" title="My account">
                        <div class="icon">
                            <i class="icon-user"></i>
                        </div>
                        <p>Account</p>
                    </a>
                </div>

                <app-ecommerce-cart-menu></app-ecommerce-cart-menu>
            </div>
        </div>
    </div>

    <div class="sticky-wrapper" [style.height]="utilsService.isSticky? utilsService.stickyHeight + 'px' : '' ">
        <div class="header-bottom sticky-header" [class.fixed]="utilsService.isSticky">
            <div [ngClass]="containerClass">
                <div class="header-left">
                    <app-ecommerce-category-menu style="display: contents;"></app-ecommerce-category-menu>
                </div>
            </div>
        </div>
    </div>
</header>