<main class="main home-page skeleton-body">
    <div class="intro-slider-container">
        <owl-carousel carouselClasses="owl-simple owl-light owl-nav-inside slider-container-1" [options]="introSlider">
            <div class="intro-slide intro-slide1"
                style="background-image: url(assets/images/home/slides/slide-1.jpg); background-color: #edf1f0;">
                <div class="container intro-content" contentAnim aniName="fadeInUpShorter">
                    <h3 class="intro-subtitle">Deals and Promotions</h3>
                    <h1 class="intro-title text-secondary-dark font-weight-normal">Wooden<br>Sideboard Table<br><span
                            class="text-primary"><sup>$</sup>149,99</span></h1>

                    <a routerLink="/shop/sidebar/list" class="btn btn-outline-dark">
                        <span>Shop Now</span>
                        <i class="icon-long-arrow-right"></i>
                    </a>
                </div>
            </div>

            <div class="intro-slide intro-slide2 slide-image"
                style="background-image: url(assets/images/home/slides/slide-2.jpg); background-color: #edf1f0;">
                <div class="container intro-content" contentAnim aniName="fadeInUpShorter">
                    <div class="text-left">
                        <h3 class="intro-subtitle">Bedroom Furniture</h3>
                        <h1 class="intro-title text-secondary-dark font-weight-normal">Find Comfort<br>That Suits You.
                        </h1>

                        <a routerLink="/shop/sidebar/list" class="btn btn-outline-dark">
                            <span>Shop Now</span>
                            <i class="icon-long-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="intro-slide intro-slide3"
                style="background-image: url(assets/images/home/slides/slide-3.jpg); background-color: #edf1f0;">
                <div class="container intro-content" contentAnim aniName="fadeInUpShorter">
                    <h3 class="intro-subtitle">Baskets & Storage</h3>
                    <h1 class="intro-title text-secondary-dark font-weight-normal">
                        Laundry Baskets<br>
                        <span class="text-primary">
                            <sup class="sup-label text-secondary-dark font-weight-normal">from</sup><sup>$</sup>9,99
                        </span>
                    </h1>

                    <a routerLink="/shop/sidebar/list" class="btn btn-outline-dark">
                        <span>Shop Now</span>
                        <i class="icon-long-arrow-right"></i>
                    </a>
                </div>
            </div>
        </owl-carousel>
    </div>

    <owl-carousel carouselClasses="brands-border owl-simple" [options]="brandSlider">
        <a href="javascript:;" class="brand">
            <img src="assets/images/brands/1.png" alt="Brand Name" width="101" height="34">
        </a>

        <a href="javascript:;" class="brand">
            <img src="assets/images/brands/2.png" alt="Brand Name" width="101" height="34">
        </a>

        <a href="javascript:;" class="brand">
            <img src="assets/images/brands/3.png" alt="Brand Name" width="101" height="34">
        </a>

        <a href="javascript:;" class="brand">
            <img src="assets/images/brands/4.png" alt="Brand Name" width="101" height="34">
        </a>

        <a href="javascript:;" class="brand">
            <img src="assets/images/brands/5.png" alt="Brand Name" width="101" height="34">
        </a>

        <a href="javascript:;" class="brand">
            <img src="assets/images/brands/6.png" alt="Brand Name" width="101" height="34">
        </a>

        <a href="javascript:;" class="brand">
            <img src="assets/images/brands/7.png" alt="Brand Name" width="101" height="34">
        </a>
    </owl-carousel>

    <div class="mb-3 mb-lg-5"></div>

    <div class="banner-group">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-5" contentAnim aniName="fadeInRightShorter">
                    <div class="banner banner-large">
                        <a routerLink="/shop/sidebar/3cols">
                            <img src="assets/images/home/banners/1-1.jpg" alt="Banner" width="470" height="510"
                                style="background-color: #fcf8e7;">
                        </a>

                        <div class="banner-content banner-content-top">
                            <h4 class="banner-subtitle font-weight-normal">Clearance</h4>

                            <h3 class="banner-title text-secondary-dark">Coffee Tables</h3>

                            <div class="banner-text text-secondary-dark font-weight-normal">from $19.99</div>

                            <a routerLink="/shop/sidebar/3cols" class="btn btn-outline-dark">Shop Now<i
                                    class="icon-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3" contentAnim>
                    <div class="banner">
                        <a routerLink="/shop/sidebar/3cols">
                            <img src="assets/images/home/banners/1-2.jpg" alt="Banner" width="290" height="510"
                                style="background-color: #748787;">
                        </a>

                        <div class="banner-content banner-content-top">
                            <h4 class="banner-subtitle text-white font-weight-normal">On Sale</h4>

                            <h3 class="banner-title text-white">Kitchenware</h3>
                            <div class="banner-text text-white font-weight-normal">from $39.00</div>

                            <a routerLink="/shop/sidebar/3cols" class="btn btn-outline-white banner-link">Discover Now<i
                                    class="icon-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-lg-4" contentAnim aniName="fadeInLeftShorter">
                    <div class="row">
                        <div class="col-lg-12 col-md-6">
                            <div class="banner banner-sm">
                                <a routerLink="/shop/sidebar/3cols">
                                    <img src="assets/images/home/banners/1-3.jpg" alt="Banner" width="370" height="245"
                                        style="background-color: #ebf2df;">
                                </a>

                                <div class="banner-content">
                                    <h4 class="banner-subtitle font-weight-normal">Clearance</h4>

                                    <h3 class="banner-title text-secondary-dark mb-0">Home Decor</h3>

                                    <div class="banner-text font-weight-normal text-secondary-dark">up to 30% off
                                    </div>
                                    <a routerLink="/shop/sidebar/3cols"
                                        class="btn btn-outline-dark banner-link">Discover Now<i
                                            class="icon-long-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-6">
                            <div class="banner banner-center">
                                <a routerLink="/shop/sidebar/3cols">
                                    <img src="assets/images/home/banners/1-4.jpg" alt="Banner" width="370" height="245"
                                        style="background-color: #f0f5f8;">
                                </a>

                                <div class="banner-content pt-0">
                                    <h4 class="banner-subtitle font-weight-normal">New Arrivals</h4>

                                    <h3 class="banner-title text-secondary-dark">Collection<br> Chairs</h3>

                                    <div class="banner-text font-weight-normal text-secondary-dark">from $39.00
                                    </div>
                                    <a routerLink="/shop/sidebar/3cols" class="btn btn-outline-dark banner-link">Shop
                                        Now<i class="icon-long-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <molla-special-collection [products]="products" [loaded]="loaded"></molla-special-collection>

    <div class="deal-container pt-5 pb-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-8" contentAnim aniName="fadeInRightShorter">
                    <div class="banner deal-banner">
                        <div class="deal-content">
                            <h4 class="font-weight-normal text-primary">Limited Quantities</h4>
                            <h2 class="text-secondary-dark">Deal Of The Day</h2>

                            <h3 class="product-title"><a routerLink="/shop/sidebar/3cols">POÄNG</a></h3>

                            <div class="product-price">
                                <span class="new-price">$149.00</span>
                                <span class="old-price">Was $240.00</span>
                            </div>

                            <molla-count-down [wrap]="'deal-countdown'" until="+10h" format="HMS" [labelsShort]="true">
                            </molla-count-down>

                            <a routerLink="/shop/sidebar/3cols" class="btn btn-outline-dark">
                                <span>Shop Now</span><i class="icon-long-arrow-right"></i>
                            </a>
                        </div>
                        <figure>
                            <img src="assets/images/home/banners/abimg-1.png" alt="Banner" width="423" height="558"
                                style="background-color: #fff;" />
                        </figure>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4" contentAnim aniName="fadeInLeftShorter">
                    <div class="banner">
                        <a href="/shop/sidebar/3cols" class="h-100">
                            <img src="assets/images/home/banners/2-2.jpg" alt="Banner" width="280" height="500"
                                style="background-color: #131b34;" class="h-100" />
                        </a>

                        <div class="banner-content banner-content-top">
                            <h4 class="banner-subtitle text-white">The Best Choice</h4>
                            <h3 class="banner-title text-white">Indigo<br>bed linen</h3>
                            <div class="banner-text text-white font-weight-normal">$49.99</div>
                            <a href="/shop/sidebar/3cols" class="btn btn-outline-white banner-link">Shop Now<i
                                    class="icon-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <molla-top-collection [products]="products | attrFilter : 'top'" [loaded]="loaded"></molla-top-collection>

    <div class="container">
        <hr>
    </div>

    <molla-blog-collection [posts]="posts" [loaded]="loaded"></molla-blog-collection>

    <div class="icon-boxes-container">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-3" contentAnim aniName="fadeInLeftShorter">
                    <div class="icon-box icon-box-side">
                        <span class="icon-box-icon text-dark">
                            <i class="icon-rocket"></i>
                        </span>
                        <div class="icon-box-content">
                            <h3 class="icon-box-title">Free Shipping</h3>
                            <p>orders $50 or more</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3" contentAnim aniName="fadeInLeftShorter">
                    <div class="icon-box icon-box-side">
                        <span class="icon-box-icon text-dark">
                            <i class="icon-rotate-left"></i>
                        </span>

                        <div class="icon-box-content">
                            <h3 class="icon-box-title">Free Returns</h3>
                            <p>within 30 days</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3" contentAnim aniName="fadeInRightShorter">
                    <div class="icon-box icon-box-side">
                        <span class="icon-box-icon text-dark">
                            <i class="icon-info-circle"></i>
                        </span>

                        <div class="icon-box-content">
                            <h3 class="icon-box-title">Get 20% Off 1 Item</h3>
                            <p>When you sign up</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3" contentAnim aniName="fadeInRightShorter">
                    <div class="icon-box icon-box-side">
                        <span class="icon-box-icon text-dark">
                            <i class="icon-life-ring"></i>
                        </span>

                        <div class="icon-box-content">
                            <h3 class="icon-box-title">We Support</h3>
                            <p>24/7 amazing services</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-newsletter bg-image" style="background-image: url(assets/images/home/banners/3.jpg)">
        <div class="container">
            <div class="heading text-center" contentAnim aniName="blurIn">
                <h3 class="title">Get The Latest Deals</h3>
                <p class="title-desc">and receive <span>$20 coupon</span> for first shopping</p>
            </div>

            <div class="row">
                <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                    <form action="#">
                        <div class="input-group">
                            <input type="email" class="form-control" placeholder="Enter your Email Address"
                                aria-label="Email Adress" aria-describedby="newsletter-btn" required>
                            <div class="input-group-append">
                                <button class="btn btn-white" type="submit" id="newsletter-btn"><span>Subscribe</span><i
                                        class="icon-long-arrow-right"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>