<main class="main home-page skeleton-body">
    <div class="intro-slider-container">
        <owl-carousel *ngIf="innerWidth > 769" carouselClasses="owl-simple owl-light owl-nav-inside slider-container-1" [options]="introSlider">
            <div class="intro-slide intro-slide1 slide-1"
                style="background-image: url(assets/images/new_imagine/3.webp); background-color: #edf1f0;">
                <div class="container intro-content" contentAnim aniName="fadeInUpShorter">
                    <a routerLink="/shop/sidebar/list" class="btn btn-dark shop-now-btn shop-now-btn1">
                        <span>Shop Now</span>
                        <i class="icon-long-arrow-right"></i>
                    </a>
                </div>
            </div>

            <div  class="intro-slide intro-slide2 slide-image"
                style="background-image: url(assets/images/new_imagine/1.webp); background-color: #edf1f0;">
                <div class="container intro-content" contentAnim aniName="fadeInUpShorter">
                    <div class="text-left">

                        <a routerLink="/shop/sidebar/list" class="btn btn-dark shop-now-btn shop-now-btn2">
                            <span>Shop Now</span>
                            <i class="icon-long-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="intro-slide intro-slide3 slide-3"
                style="background-image: url(assets/images/new_imagine/4.webp); background-color: #edf1f0;">
                <div class="container intro-content d-flex flex-row justify-content-end" contentAnim aniName="fadeInUpShorter">
                    <div class="text-left">
                        <a routerLink="/shop/sidebar/list" class="btn btn-dark shop-now-btn shop-now-btn3">
                            <span>Shop Now</span>
                            <i class="icon-long-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div  class="intro-slide intro-slide4"
                style="background-image: url(assets/images/new_imagine/2.webp); background-color: #edf1f0;">
                <div class="container intro-content" contentAnim aniName="fadeInUpShorter">

                    <a routerLink="/shop/sidebar/list" class="btn btn-primary shop-now-btn shop-now-btn4">
                        <span>Shop Now</span>
                        <i class="icon-long-arrow-right"></i>
                    </a>
                </div>
            </div>
        </owl-carousel>
        <owl-carousel *ngIf="innerWidth <= 769" carouselClasses="owl-simple owl-light owl-nav-inside slider-container-1" [options]="introSlider">
            
            <div  class="intro-slide intro-slide1 slide-1"
                style="background-image: url(assets/images/new_imagine/3.webp); background-color: #edf1f0;">
                <div class="container intro-content" contentAnim aniName="fadeInUpShorter">
                    <a routerLink="/shop/sidebar/list" class="btn btn-dark shop-now-btn shop-now-btn1">
                        <span>Shop Now</span>
                        <i class="icon-long-arrow-right"></i>
                    </a>
                </div>
            </div>

            <div  class="intro-slide intro-slide2 slide-image"
                style="background-image: url(assets/images/new_imagine/slider1-mob.jpg); background-color: #edf1f0;">
                <div class="container intro-content" contentAnim aniName="fadeInUpShorter">
                    <div class="text-left">

                        <a routerLink="/shop/sidebar/list" class="btn btn-dark shop-now-btn shop-now-btn2">
                            <span>Shop Now</span>
                            <i class="icon-long-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div  class="intro-slide intro-slide3 slide-3"
                style="background-image: url(assets/images/new_imagine/4.webp); background-color: #edf1f0;">
                <div class="container intro-content d-flex flex-row justify-content-end" contentAnim aniName="fadeInUpShorter">
                    <div class="text-left">
                        <a routerLink="/shop/sidebar/list" class="btn btn-dark shop-now-btn shop-now-btn3">
                            <span>Shop Now</span>
                            <i class="icon-long-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="intro-slide intro-slide4"
                style="background-image: url(assets/images/new_imagine/slider2-mob.jpg); background-color: #edf1f0;">
                <div class="container intro-content" contentAnim aniName="fadeInUpShorter">

                    <a routerLink="/shop/sidebar/list" class="btn btn-primary shop-now-btn shop-now-btn4">
                        <span>Shop Now</span>
                        <i class="icon-long-arrow-right"></i>
                    </a>
                </div>
            </div>
        </owl-carousel>
    </div>

    <div class="mb-3 mb-lg-5"></div>

    <div class="banner-group">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-5" contentAnim aniName="fadeInRightShorter">
                    <div class="banner banner-large">
                        <a *ngIf="innerWidth > 769" routerLink="/shop/sidebar/3cols">
                            <img  src="assets/images/new_imagine/banner1.webp" alt="Banner" width="470" height="510"
                                style="background-color: #fcf8e7;">
                            
                        </a>
                        <a *ngIf="innerWidth <= 769" routerLink="/shop/sidebar/3cols" class="d-flex flex-row justify-content-center">
                            <img *ngIf="innerWidth <= 769" src="assets/images/new_imagine/banner1-mob.jpg" alt="Banner" width="470" height="510"
                                style="background-color: #fcf8e7;max-width:355px">
                            
                        </a>

                        

                       
                    </div>
                </div>

                <div class="col-md-6 col-lg-3" contentAnim>
                    <div class="banner">

                        <a *ngIf="innerWidth > 769" routerLink="/shop/sidebar/3cols">
                            <img src="assets/images/new_imagine/banner2.webp" alt="Banner" width="290" height="510"
                                style="background-color: #748787;">
                            
                        </a>
                        <a *ngIf="innerWidth <= 769" routerLink="/shop/sidebar/3cols" class="d-flex flex-row justify-content-center">
                            <img src="assets/images/new_imagine/banner2.webp" alt="Banner" width="290" height="510"
                                style="background-color: #748787;max-width:355px">
                            
                        </a>

                        
                    </div>
                </div>

                <div class="col-md-12 col-lg-4" contentAnim aniName="fadeInLeftShorter">
                    <div class="row">
                        <div class="col-lg-12 col-md-6">
                            <div class="banner banner-sm">

                                <a *ngIf="innerWidth > 769" routerLink="/shop/sidebar/3cols">
                                    <img src="assets/images/new_imagine/banner3.webp" alt="Banner" width="370" height="245"
                                        style="background-color: #ebf2df;">
                                    
                                </a>
                                <a *ngIf="innerWidth <= 769" routerLink="/shop/sidebar/3cols" class="d-flex flex-row justify-content-center">
                                    <img  src="assets/images/new_imagine/banner3-mob.jpg" alt="Banner" width="370" height="245"
                                        style="background-color: #ebf2df;max-width:355px">
                                    
                                </a>
                                
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-6">
                            <div class="banner banner-center">

                                <a *ngIf="innerWidth > 769" routerLink="/shop/sidebar/3cols">
                                    <img src="assets/images/new_imagine/banner4.webp" alt="Banner" width="370" height="245"
                                        style="background-color: #f0f5f8;">
                                    
                                </a>
                                <a *ngIf="innerWidth <= 769" routerLink="/shop/sidebar/3cols" class="d-flex flex-row justify-content-center">
                                    <img src="assets/images/new_imagine/banner4.webp" alt="Banner" width="370" height="245"
                                        style="background-color: #f0f5f8;max-width:355px">
                                    
                                </a>

                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-ecommerce-special-collection ></app-ecommerce-special-collection>

    <div class="container">
        <hr>
    </div>

    <div class="icon-boxes-container">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-6 col-lg-3" contentAnim aniName="fadeInLeftShorter">
                    <div class="icon-box icon-box-side">
                        <span class="icon-box-icon text-dark">
                            <i class="fa-solid fa-rocket" style="color:#DC4F3F"></i>
                        </span>
                        <div class="icon-box-content">
                            <h3 class="icon-box-title">Fast Delivery</h3>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3" contentAnim aniName="fadeInLeftShorter">
                    <div class="icon-box icon-box-side">
                        <span class="icon-box-icon text-dark">
                            <i class="fa-solid fa-user-check" style="color:#943B3B"></i>
                        </span>

                        <div class="icon-box-content">
                            <h3 class="icon-box-title">Customized Products</h3>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3" contentAnim aniName="fadeInRightShorter">
                    <div class="icon-box icon-box-side">
                        <span class="icon-box-icon text-dark">
                            <i class="fa-solid fa-tags" style="color:#FBA734"></i>
                        </span>

                        <div class="icon-box-content">
                            <h3 class="icon-box-title">Ongoing offers</h3>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3" contentAnim aniName="fadeInRightShorter">
                    <div class="icon-box icon-box-side">
                        <span class="icon-box-icon text-dark">
                            <i class="fa-solid fa-truck" style="color:#49919D"></i>
                        </span>

                        <div class="icon-box-content">
                            <h3 class="icon-box-title">Deliver Anywhere</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>